[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
requests-html = "*"
dash = "*"
dash-renderer = "*"
dash-core-components = "*"
dash-html-components = "*"
plotly = "*"

[requires]
python_version = "3.8"
